@model QLPhongKham.Models.Staff

@{
    ViewData["Title"] = "Xóa Nhân viên";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card border-danger">
                <div class="card-header bg-danger text-white">
                    <h3 class="card-title">
                        <i class="fas fa-exclamation-triangle"></i> Xác nhận xóa Nhân viên
                    </h3>
                </div>
                <div class="card-body">
                    <div class="alert alert-warning">
                        <strong>Cảnh báo!</strong> Bạn có chắc chắn muốn xóa nhân viên này không?
                        <br><strong>Lưu ý:</strong> Việc này cũng sẽ xóa tài khoản đăng nhập của nhân viên.
                    </div>

                    <dl class="row">
                        <dt class="col-sm-3">Họ và tên:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</dd>

                        <dt class="col-sm-3">Email:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

                        <dt class="col-sm-3">Chức vụ:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Position)</dd>

                        <dt class="col-sm-3">Phòng ban:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Department)</dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="StaffId" />
                        <div class="form-group">
                            <button type="submit" class="btn btn-danger">
                                <i class="fas fa-trash"></i> Xác nhận xóa
                            </button>
                            <a asp-action="Index" class="btn btn-secondary">
                                <i class="fas fa-arrow-left"></i> Hủy bỏ
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
